In [66]:
import pandas as pd

In [91]:
import pickle
from tensorflow.keras.models import load_model
import numpy as np
import tensorflow as tf
print(tf.__version__)

2.17.0

:

In [87]:
##  the ANN trained model ,scalar pickle ,one hot
model = load_model('model.h5')

##load the encoder and scaler 
with open('label_encoder_gender.pk1','rb') as file:
    label_encoder_gender = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [88]:
with open('onehot_encoder_geo.pk1','rb') as file:
    label_encoder_geo = pickle.load(file)

In [89]:
with open('scaler.pk1','rb') as file:
    scaler = pickle.load(file)

In [71]:
input_data ={
    'CreditScore' : 619,
    'Geography' : 'France',
    'Gender' : 'Female',
    'Age' : 42,
    'Tenure' :2 ,
    'Balance':0,
    'NumOfProducts' :1,
    'HasCrCard' : 1,
    'IsActiveMember' : 1,
    'EstimatedSalary' : 101348.88	
}

In [72]:
## one hot encoding
encoder_geo = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(encoder_geo ,columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\dgkgo\desktop\generativeai\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [73]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0,1,1,1,101348.88

In [74]:
###  encode caterical feature
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0,1,1,1,101348.88

In [75]:
## concatenation with one hot encoded data
input_df = pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)

In [76]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0,1,1,1,101348.88,1.0,0.0,0.0

In [77]:
## scalling the input data 
input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.33880827, -1.09499335,  0.29493847, -1.04241787, -1.21847056,
        -0.91668767,  0.64920267,  0.97481699,  0.01595384,  1.00150113,
        -0.57946723, -0.57638802]])

In [78]:
## predict the churn
prediction = model.predict(input_scaled)
prediction

WARNING:tensorflow:5 out of the last 5 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x000001F298C33560> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

WARNING:tensorflow:5 out of the last 5 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x000001F298C33560> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 220ms/step

array([[0.36545473]], dtype=float32)

In [79]:
prediction_proba = prediction[0][0]

In [80]:
prediction_proba

0.36545473

In [81]:
if prediction_proba > 0.5:
    print("The customer is likely to leave the bank")
else:
    print("The customer is not likely to move out of bank")

The customer is not likely to move out of bank